<div class="widget friend-list stick-widget">
    <h4 class="widget-title">Online people</h4>
    <div id="searchDir"></div>
    <ul id="people-list" class="friendz-list">
        <% onlineUser.map(user=>{ %>
            <li class='friend' onclick="writeWhom(this)" id="<%=user._id%>">
                <figure>
                   <img src="images/resources/<%=user.profilePhotos%>" alt="">
                       <span class="status f-online"></span>
                </figure>
                   <div class="friendz-meta">
                       <a href="/profile/<%=user._id%>"><%=user.name%></a>
                   </div>
           </li>  
         <% }) %>    
    </ul>
    <div class="chat-box">
        <div class="chat-head">
            <span class="status f-online"></span>
            <h6 class="chatUserName">Bucky Barnes</h6>
            <div class="more">
                <span class="close-mesage"><i class="ti-close"></i></span>
            </div>
        </div>
        <div class="chat-list">
            <ul id="messageUl">
                <li class="me">
                   
                </li>
                <li class="you">
                   
                </li>
                
            </ul>
            <form class="text-box">
                <input id="messageText" placeholder="Post enter to post..." >
                
                <div class="add-smiles">
                    <span title="add icon" class="em em-expressionless"></span>
                </div>
                <div class="smiles-bunch">
                    <i class="em em---1"></i>
                    <i class="em em-smiley"></i>
                    <i class="em em-anguished"></i>
                    <i class="em em-laughing"></i>
                    <i class="em em-angry"></i>
                    <i class="em em-astonished"></i>
                    <i class="em em-blush"></i>
                    <i class="em em-disappointed"></i>
                    <i class="em em-worried"></i>
                    <i class="em em-kissing_heart"></i>
                    <i class="em em-rage"></i>
                    <i class="em em-stuck_out_tongue"></i>
                </div>
                <button onclick="sendMsg(event)">send</button>
            </form>
        </div>
    </div>
</div>